<div id="fullpage">
	<!-- <h1>This is some informational text!</h1>
	<h7>And some subtext expalinging other things </h7>
  <div id="button-div">
		<button ng-click="dancerSignInSheet()" type="button" id="but1" class="btn btn-default btn-lg">
			Print Dancer Sign in Sheets</button>
			<button ng-click="demoTwoPageDocument()" type="button" id="but2" class="btn btn-default btn-lg">
			Print Choreographer Note Sheets</button>
	</div> -->

	<div class="jumbotron">
  		<h1 id="title">Audition Day Forms</h1>
  		<p>Make sure that choreographers have been chosen and that </br>all dancers have submitted their forms before downloading.</p>
 	 	<p><a id="button" class="btn btn-default btn-lg" ng-click="dancerSignInSheet()" role="button">Dancer Sign-In Sheets</a></p>
 	 	<p><a id="button" class="btn btn-default btn-lg" ng-click="choreoNoteSheet()" role="button">Choreographer Note Sheets</a></p>
	</div>
</div>

