<!doctype html>
<html>
  <head>
    <link rel="stylesheet" href="dancer.css">
    
  </head

<div class=".container">
	<div id="outside">
	
	<div class="choreolist" ng-controller="d" id="list-tool">
		<div id="list-title">
			<h3>Dancers
				<span id="export" class="glyphicon glyphicon-export" data-toggle="modal" data-target=".bs-example-modal-lg"></span>
			</h3>
		</div>
		<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
		  <div class="modal-dialog modal-lg">
		    <div class="modal-content" id="email-modal">
		    	<div>
		    		<span id="modal-titles">All Dancers</span>
			    	<textarea type="textarea" rows="7" class="form-control" id="box1" readonly="readonly">{{dancerEmails}}</textarea>
			    </div>
		    </div>
		  </div>
		</div>
		

		<div class="list-group" id="choreonames">
			<div ng-repeat="n in dancerNames">
		  		<a href ng-click="getDancerInfo(n.get('DancerName'))" class="list-group-item">{{n.get('DancerName')}}<span ng-click="deleteDancer(n.get('DancerName'))"class="glyphicon glyphicon-remove" id="deleteIcon"></span></a>
		  	</div>
		</div>
		<div class="choreoinfo-dancer">
            <p id="infosection" ng-init="dancerElements='Select a dancer to view their information.'">{{dancerElements}}</p>
		</div>
		<!-- <button ng-click="addToShow()" type="button" class="btn btn-default btn-md" id="add-choreo">
			{{button}}
		</button> -->
	</div>


	<div id="graph-area">
		<div class="panel panel-default" ng-controller="DancersCtrl">
		  

		  <div class="panel-body">
		    <div class="panel panel-default">
			  <div class="panel-heading">
			    <h3 class="panel-title">Total Dancers in Show</h3>
			  </div>
			  <div class="panel-body">
			  	<div id="num-choreos">{{dancers}}</div>
			  </div>
			</div>
		  </div>

			<div class="panel-body">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">Colleges of Dancers</h3>
					</div>
					<div class="panel-body">
						<div id="chartCollege" google-chart chart="chartCollege"style="padding:10px"></div>
					</div>

				</div>

			</div>
			<div class="panel-body">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">Years of Experience</h3>
					</div>
					<div class="panel-body">
						<div id="chartExper" google-chart chart="chartExper"style="padding:10px"></div>
					</div>

				</div>
				
			</div>

		
	</div>
</div>
</div>
</div>

</html>