.list-group{
	float: left;
	width: 40%;
	height: 560px; 
	background-color: white;
	overflow: auto;
}

#list-title {
	/*text-align: center;*/
	background-color: #854DC9;
	padding: 1px; 

}
#list-title h3 {
	margin-left: 2%;
	color: white; 
}
#list-title span {
	float: right;
	margin-right: 2%;
}

#search {
	width: 100%; 
}

.choreolist {
	width: 50vw; 
	position:relative; 
/*	background-color: #DEE0DF;
*/	height: 80vh; 
	margin:0 15px 0 10px;
}

.choreoinfo-dancer {
	background-color: #D8D5DB;
	
	min-height: 560px;
	max-height: 560px;
	text-align: left;
	padding: 0 20px 0 20px;
	overflow: auto;
	white-space: pre-line;
}

.glyphicon {
	float: right;
	color:#DEE0DF;
  	opacity:0.7;
}

#deleteIcon:active {
	color: #DD6B55;
}

#add-choreo {
	width: 30vw;
	padding: 2%;
}

#infosection {
	margin: 0 0 0 0;
}



