<!DOCTYPE html>
<html ng-app="plunker">

<head>
<meta charset="utf-8">
<title>Spring Show Tool</title>
<script>
  document.write('<base href="' + document.location + '" />');
</script>
<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
<script src="http://bouil.github.io/angular-google-chart/ng-google-chart.js"></script>
<script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.13.0.js"></script>

<script type="text/javascript" src="jspdf.min.js"></script>
<script type="text/javascript" src="jspdf.plugin.autotable.js"></script>

<script type="text/javascript" src="http://www.parsecdn.com/js/parse-1.4.2.min.js"></script>
<script src="sweetalert.min.js"></script> 
<script src="Sortable.js"></script>
<link rel="stylesheet" type="text/css" href="sweetalert.css">

<link rel="stylesheet" href="style.css">
<link rel="stylesheet" href="dancer.css">
<link rel="stylesheet" href="auditions.css">


</head>
 


<nav class="navbar navbar-default" ng-controller="NavCtrl">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Spring Show</a>
    </div>
    <div>
	    <ul class="nav navbar-nav">
	      <li ng-class="navClass('home')"><a href='' ng-click="loadHome()">Home</a></li>
	      <li ng-class="navClass('choreo')"><a href='' ng-click="loadChoreo()">Choreographers</a></li>
	      <li ng-class="navClass('dancers')"><a href='' ng-click="loadDancers()">Dancers</a></li>
	      <li ng-class="navClass('auditions')"><a href='' ng-click="loadAuditions()">Auditions</a></li>
        <li role="presentation" class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-expanded="false">
          Schedule <span class="caret"></span>
          </a>
          <ul class="dropdown-menu" role="menu">
            <li ng-class="navClass('times')"><a href='' ng-click="loadTimes()">Rehearsal Times</a></li>
            <li ng-class="navClass('schedule')"><a href='' ng-click="loadSchedule()">Cast</a></li>
          </ul>
        </li>

	    </ul>
  	</div>
  </div>
</nav>

<body >
  <div ng-view></div>


</body>
<script src="script.js"></script>
</html>
