/* Styles go here */

.done-true {
  text-decoration: line-through;
  color: grey;
}

.navbar-default .navbar-brand {
    /*color: #f0ad4e;*/
	color: #854DC9 !important; 
}

 .dropdown-menu>.active>a, .dropdown-menu>.active>a:focus, .dropdown-menu>.active>a:hover{
 	  background-image: -webkit-linear-gradient(top,#854DC9 0,#854DC9 100%);
 }


.todo {
	/*top: 10px;*/
	/*display: inline-block;*/
	margin: 0 10px 0 10px;
	width: 295px;
	background-color: #DEE0DF;
	float: left;
}
.todo h3 {
	background-color: #854DC9; 
	text-align: center; 
	padding: 8px;
	color: white; 
	margin-top: 0;
}

#todocontents {
	margin-left: 15px; 
}

.clear-but {
	width: 196pt;
	margin: 5px 0 15px 0;
	background-color: gray;
	border: none;
	color: white;
}

#Addbutt {
	background-color: #854DC9;
	border: none;
	color: white;
}


.cal {
	/*margin: 0 20px 0 20px; */
	padding: 20px; 
	display: inline-block;
	background-color:  #DEE0DF; 

}

#list-tool {
	float: left;
}

#graph-area {
	width: 600px; 
	margin-left: 10px;
	float: left;
}

#graph-body {
	height: 588px; 
	/*background-color: #854DC9;*/
}

#graphs-title{
	text-align: center;
}

.panel-heading .purple {
	background-color: purple; 
}

#chartA {
	color: green; 
}

#num-choreos {
	background-color: #854DC9;
	padding: 18px;
	text-align: center;
	color: white;
	font-size: 20pt;
	font-weight: bold;
	border-radius: 5px;
}

.panel .panel-default {
	margin-bottom: 0; 
}

#email-modal {
	padding: 15px; 
}
#modal-titles {
	font-size: 14pt; 
	margin-left: 5pt; 
}
#box1{
	margin-bottom: 20px; 
}
#outsidediv{
	width: 100%;
 	margin: 0 auto;
}







