<!doctype html>
<html>
  <head>
    <link rel="stylesheet" href="times.css">
    	<script src="Sortable.js"></script>

    
  </head>


			 
<div ng-controller="timesCtrl">

	<div class="jumbotron">
	  <div class="container">
	  	<p id="jumbo">Press the button to assign rehearsal times. </br>If there is no matching time found or you wish to change the assigned time, use the edit button to assign manually.</p>
	    <p id="jumbo"><a id="button" class="btn btn-default btn-lg" ng-click="assignTimes()" role="button">Assign Rehearsal Times</a></p>
	  </div>
	</div>
	<table class="table">
    <thead>
      <tr>
        <th>Choreographers</th>
        <th>Assigned Rehearsal Time</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="ac in allChoreos">
        <td>{{ac.get('Name')}}</td>
        <td>{{ac.get('AssignedTime')}}<span id="export" class="glyphicon glyphicon-edit" data-toggle="modal" data-target=".bs-example-modal-sm" ng-click="setChoreo(ac)"></span>



        </td>
        <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
          <div class="modal-content" id="email-modal">
            <div class="form-group">
              <label>Change Assigned Time</label>
              <div>
                <select class="form-control" id="selectTime">
                    <option ng-repeat="t in allTimes" value="{{t[0]}}">{{t[0]}}</option>
            
                </select>

              </div>
            </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" ng-click="changeTime(ac)" data-dismiss="modal">Save changes</button>
          </div>
        
          </div>
        </div>

      </tr>
     
    </tbody>
  </table>

</div>
</html>