.list-group{
	float: left;
	width: 40%;
	height: 92.5%;
	background-color: white;
	overflow: auto;
}

#list-title {
	/*text-align: center;*/
	background-color: #854DC9;
	padding: 1px; 

}
#list-title h3 {
	margin-left: 2%;
	color: white; 
}
#list-title span {
	float: right;
	margin-right: 2%;
}

#search {
	width: 100%; 
}

.choreolist {
	width: 50vw; 
	position:relative; 
	background-color: #DEE0DF;
	height: 80vh; 
	margin: 10px;
}

.choreoinfo {
	background-color: #D8D5DB;
	display: table;
	height: 68vh;
	width: 30vw;
	text-align: center;
}

.glyphicon {
	float: right;
	color:#DEE0DF;
  	opacity:0.7;
}

.glyphicon:active {
	color: white;
}

#add-choreo {
	width: 30vw;
	padding: 2%;
}
