<body>
<div class="todo">
  <h3>To Do List</h3>
  <div class="list-contents" ng-controller="TodoController">
    <span>{{remaining()}} of {{todos.length}} remaining</span>
    <ul class="unstyled">
      <li ng-repeat="todo in todos">
        <input type="checkbox" ng-model="todo.done">
        <span class="done-{{todo.done}}">{{todo.text}}</span>
      </li>
    </ul>
    <form class="form-horizontal" ng-submit="addTodo()">
      <input type="text" ng-model="todoText"  size="30"
             placeholder="What needs to get done?">
      <input class="btn-primary" type="submit" value="add">
    </form>
    <button class="clear-but" addclass="btn-large" ng-click="clearCompleted()">Clear Completed</button>
 </div>
</div>

<div class="cal">
  <iframe src="https://www.google.com/calendar/embed?showTitle=0&amp;showNav=0&amp;showPrint=0&amp;showCalendars=0&amp;showTz=0&amp;height=700&amp;wkst=1&amp;bgcolor=%23ffffff&amp;src=9mbitdjmkghv453ndp6bvpp8as%40group.calendar.google.com&amp;color=%23B1440E&amp;ctz=America%2FLos_Angeles" style=" border-width:0 " width="1000" height="600" frameborder="0" scrolling="no"></iframe>
</div>
 

</body>