#style{
	text-align: left;
}

.navbar-default .navbar-brand {
    /*color: #f0ad4e;*/
	color: #854DC9 !important; 
}

.min-max-group input{
	margin-right: 10px; 
}

#submitbutton {
	width: 100%;
	margin-bottom: 50px;
}

.my-handle {
    cursor: move;
    cursor: -webkit-grabbing;
    list-style-type: none;
}

#listWithHandle {
	list-style-type: none;
	list-style-position:inside;
    margin:0;
    padding:0;
}

#foo, #qux {
	list-style-type: none;
	list-style-position:inside;
    margin:0;
    padding:0;
}

#timeitem {
	background-color: #DEE0DF; 
	padding: 10px;
	margin-bottom: 2px;
}

#holderitem {
	background-color: white; 
	padding: 2px;
}

.glyphicon {
	color: #854DC9;
	margin-right: 5px;
}

#times {
	padding: 20px 0 20px 0;
}

#numdancers {
	padding: 20px 0 20px 0;
}

#alltimes, #chosentimes{
	max-height: 500px;
	overflow: auto;
}







