<!DOCTYPE html>
<html lang="en" ng-app="dancerForm">
<head>
	<meta charset="utf-8">
	<title>Dancer Form</title>
	<script>
	  document.write('<base href="' + document.location + '" />');
	</script>
	<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>

	<script type="text/javascript" src="http://www.parsecdn.com/js/parse-1.4.2.min.js"></script>

	<script src="dance-info.js"></script>
	<script src="Sortable.js"></script>

	<script src="sweetalert.min.js"></script> 
	<link rel="stylesheet" type="text/css" href="sweetalert.css">

	<link rel="stylesheet" href="style.css">


</head>
 

<body>
<div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
			<div class="page-header">
				<h1>
					Dancer Interest Form <small>Upward & Onward 2015</small>
				</h1>
			</div>

			<form role="form">
				<div class="form-group">
					 <label for="dancerName">Full Name</label><input type="text" class="form-control" id="dancerName">
				</div>
				<div class="form-group">
					 <label for="phoneNumber">Phone Number</label><input type="tel" pattern='[\(]\d{3}[\)]\d{4}[\-]\d{4}' class="form-control" id="phoneNumber">
				</div>
				<div class="form-group">
					 <label for="email">Email Address</label><input type="email" class="form-control" id="email">
				</div>
				<div class="form-group">
					<label>College</label>
					<div>
						<select class="form-control" id="college">
						    <option value="">Select College</option>
						    <option value="College of Agriculture, Food & Enviornmental Sciences">College of Agriculture, Food & Enviornmental Sciences</option>
						    <option value="College of Architecture & Enviornmental Design">College of Architecture & Enviornmental Design</option>
						    <option value="College of Engineering">College of Engineering</option>
						    <option value="College of Liberal Arts">College of Liberal Arts</option>
						    <option value="Orfalea College of Business">Orfalea College of Business</option>
						    <option value="College of Science & Mathematics">College of Science & Mathematics</option>
						</select>
					</div>
				</div>
				<div class="form-group">
					<label>Grade Level</label>
					<div>
						<select class="form-control" id="grade">
						    <option value="Select Year">Select Year</option>
						    <option value="Freshman">Freshman</option>
						    <option value="Sophomore">Sophomore</option>
						    <option value="Junior">Junior</option>
						    <option value="Senior">Senior</option>
						    <option value="Grad Student">Grad Student</option>
						</select>
					</div>
				</div>
				<div class="form-group">
					<label>Number of Years of Dance Experience</label>
					<div>
						<select class="form-control" id="experience">
						    <option value="">Select Experience</option>
						    <option value="0">0</option>
						    <option value="1">1</option>
						    <option value="2">2</option>
						    <option value="3-6">3-6</option>
						    <option value="7-10">7-10</option>
						    <option value="10+">10+</option>
						</select>
					</div>
				</div>

				<h3>Style Experiene</h3>
				<div class="styles">

						<div class="col-md-3 column" id="firstgroup">
							<label class="radio control-label" id="firstlabel">Pointe Ballet</label>
							<form  id="firstform" action="" class="radio">
								<input type="radio" name="pointe" value="Beginning" id="first" ng-model="pointeValue">Beginning<br>
								<input type="radio" name="pointe" value="Intermediate" id="first" ng-model="pointeValue">Intermediate<br>
								<input type="radio" name="pointe" value="Advanced" id="first" ng-model="pointeValue">Advanced<br>
							</form>
						</div>
						<div class="col-md-3 column">
							<label class="radio control-label">Hip Hop</label>
							<form action="" class="radio">
								<input type="radio" name="levelHip" value="Beginning" ng-model="hipValue">Beginning<br>
								<input type="radio" name="levelHip" value="Intermediate" ng-model="hipValue">Intermediate<br>
								<input type="radio" name="levelHip" value="Advanced" ng-model="hipValue">Advanced<br>
							</form>
						</div>
						<div class="col-md-3 column">
							<label class="radio control-label">Tap</label>
							<form action="" class="radio">
								<input type="radio" name="levelTap" value="Beginning" ng-model="tapValue">Beginning<br>
								<input type="radio" name="levelTap" value="Intermediate" ng-model="tapValue">Intermediate<br>
								<input type="radio" name="levelTap" value="Advanced" ng-model="tapValue">Advanced<br>
							</form>
						</div>
						<div class="col-md-3 column">
							<label class="radio control-label">Contemporary</label>
							<form action="" class="radio">
								<input type="radio" name="levelContemp" value="Beginning" ng-model="contempValue">Beginning<br>
								<input type="radio" name="levelContemp" value="Intermediate" ng-model="contempValue">Intermediate<br>
								<input type="radio" name="levelContemp" value="Advanced" ng-model="contempValue">Advanced<br>
							</form>
						</div>
						<div class="col-md-3 column">
							<label class="radio control-label">Ballet</label>
							<form action="" class="radio">
								<input type="radio" name="levelBallet" value="Beginning" ng-model="balletValue">Beginning<br>
								<input type="radio" name="levelBallet" value="Intermediate" ng-model="balletValue">Intermediate<br>
								<input type="radio" name="levelBallet" value="Advanced" ng-model="balletValue">Advanced<br>
							</form>
						</div>
						<div class="col-md-3 column">
							<label class="radio control-label">African</label>
							<form action="" class="radio">
								<input type="radio" name="levelAfrican" value="Beginning" ng-model="africanValue">Beginning<br>
								<input type="radio" name="levelAfrican" value="Intermediate" ng-model="africanValue">Intermediate<br>
								<input type="radio" name="levelAfrican" value="Advanced" ng-model="africanValue">Advanced<br>
							</form>
						</div>
						<div class="col-md-3 column">
							<label class="radio control-label">Modern</label>
							<form action="" class="radio">
								<input type="radio" name="levelModern" value="Beginning" ng-model="modernValue">Beginning<br>
								<input type="radio" name="levelModern" value="Intermediate" ng-model="modernValue">Intermediate<br>
								<input type="radio" name="levelModern" value="Advanced" ng-model="modernValue">Advanced<br>
							</form>
						</div>
						<div class="col-md-3 column">
							<label class="radio control-label">Bollywood</label>
							<form action="" class="radio">
								<input type="radio" name="levelBolly" value="Beginning" ng-model="bollywoodValue">Beginning<br>
								<input type="radio" name="levelBolly" value="Intermediate" ng-model="bollywoodValue">Intermediate<br>
								<input type="radio" name="levelBolly" value="Advanced" ng-model="bollywoodValue">Advanced<br>
							</form>
						</div>
						<div class="col-md-3 column">
							<label class="radio control-label">Breakdance</label>
							<form action="" class="radio">
								<input type="radio" name="levelBreak" value="Beginning" ng-model="breakdanceValue">Beginning<br>
								<input type="radio" name="levelBreak" value="Intermediate" ng-model="breakdanceValue">Intermediate<br>
								<input type="radio" name="levelBreak" value="Advanced" ng-model="breakdanceValue">Advanced<br>
							</form>
						</div>
					</div>
				</div>
			</div>
			<div ng-controller="dance-info">
				<h3>Dance Interest</h3>
				<h5>*Only select dances whose rehearsal times you can attend</h5>

				<div class=".container" id="times">
					<label>Drag your preferred dances from the list on the left to the list on the right, and order then from most desired to least.</label>
					<div class="row">
						<div class="col-sm-6">
							<div class="panel panel-default"  id="alltimes">
							  <div class="panel-heading">All Pieces</div>
							  	<div class="panel-body">
									<ul id="foo">
										<!-- <li id="holderitem"></li> -->
										<li ng-repeat="d in dances" id="timeitem">
											<span class="my-handle">
												<span class="glyphicon glyphicon-menu-hamburger">
												</span>
											</span>{{d[0]}}
										</li>
									    
								  	</ul>				 
								</div>
							</div>
						</div>
						<div class="col-sm-6">
							<div class="panel panel-success" id="chosentimes">
							  <div class="panel-heading">Perferred Pieces (in order of preference)</div>
							  	<div class="panel-body">
								  	<ul id="qux">
								   		<li id="holderitem"></li>
								  	</ul> 
								</div>
							</div>
						</div>
					</div>
			  	</div>






			</div>
			
<!-- <div ng-controller="dropdown">	
					<select class="form-control" ng-model="selectedTestAccount" ng-options="item.college for item in testAccounts track by item.college">
					    <option value="">Select College</option>
					</select>
				</div> -->


			<div ng-controller="submitCtrl">
				<div class="checkbox">
					<label><input type="checkbox" required/>I agree to all of the terms outlined in the dancer packet distributed at the dancer meeting.</label>
				</div>
				<button type="submit" class="btn btn-default" ng-click="submit();" id="submitbutton">Submit</button>
			</div>
			
	
		</div>
	</div>
</div>
</body>
</html>
